body {
    background-color:#d3d3d3;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
}

.mainNav {
    background: #273f3f;
    color: #d3d3d3;    
    display: grid;
    grid-template-columns: 9% 5% 70%;
    width: 100%;
}

.ribbonNav {
    color: #d3d3d3;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: "Aldrich";
    font-size: 18px;
}

#compName {
    align-self: center;
    font-family: "Aldrich";
    font-size: 18px;
}

#logo {
    margin-top: 5px;
}

.links {
    align-self: center;
    justify-self: center;
}

.gridLayout {
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 15px;
}

.column {
    float: left;
}

h1 {
    color: #273f3f;
    font-family: "Aldrich";
    font-size: 24px;
    text-align: center;
    text-rendering: optimizeLegibility;
}
	
h2 {
    color: #273f3f;
    font-family: "Aldrich";
    font-size: 18px;    
    text-align: center;
    margin-top: -10px;
}
	
h3 {
    color: #273f3f;
    font-family: "Aldrich";
    font-size: 12px;
    text-align: center;
}

#home, .about p{
    text-align: center;
    font-size: 16px;
    width: 60%;
}

p {
    color: #273f3f;
    font-family: "Open Sans", serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 80%;
}

.mainpic {
    margin-top: 50px;
}

li {
    display: table-cell;
    float: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 20px;
}

.pic {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 95%;
}

input[type=text] {
    color: #273f3f;
    font-family: "Aldrich";
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid #273f3f;
}

input[type=submit] {
    color: #ffffff;
    background-color: #273f3f;
    font-family: "Aldrich";
    padding: 8px 32px;
    font-size: 14px;
    font-weight: 100;
    border: none;
    letter-spacing: 1px;
}

input[type=submit]:hover {
    color: #273f3f;
    background-color: #fafafa;
}

input[type=submit]:active {
    color: #273f3f;
    background-color: #d3d3d3;
}

textarea {
    color: #273f3f;
    font-family: "Aldrich";
    font-size: 16px;
    width: 97%;
    height: 150px;
    padding: 5px;
    margin-left: 10px;
    resize: none;
    border: 1px solid #273f3f;
}

.formField {
    font-family: "Aldrich";
    font-size: 14px;
    line-height: 2em;
    margin-left: 15px;
}

#resources h2 {
    text-align: left;
    margin-top: 40px;
    margin-left: 15px;
}

#resources p, #resources li {
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
    font-family: "Open Sans";
}

#resources a:link {
    text-decoration: none;
    color: #273f3f;
    font-weight: 600;
    margin-left: -20px;
}

#resources a:visited {
    text-decoration: none;
    color: #273f3f;
    font-weight: 600;
}

table {
    margin: 0 auto;
}

.contactInfo {
    align-content: center;
    text-align: center;
    font-family: "Aldrich";
    color: #273f3f;
    margin-top: 15px;
    margin-bottom: 0 auto;
    padding: 2px;
    text-rendering: optimizeLegibility;
}

caption {
    text-align: center;
    font-family: "Aldrich";
    font-weight: 600;
    letter-spacing: 1px;
}

#email, #phone {
    font-family: "Aldrich";
    color: #273f3f;
    padding: 2px;
}

#location {
    font-family: "Open Sans";
    font-size: 14px;
    padding: 4px;
}

td {
    font-family: "Open Sans";
    padding: 2px;
    align-self: center;
    justify-self: center;
}