body, container {
    background-color:lightgray;
}

#header {
    
}

.column {
    float: left;
    width: 33.33%;
    height: 338px;
}
	
.ribbonNav {
    color: lightgray;
    text-decoration: none;
}
	
.frame {
    height: 338px;
    width: 600px;
    border: none;
    margin-top: 80px;
    align-content: center;
    margin-left: 15px;
}

h2 {
    color: darkslategrey;
    font-family: "Aldrich";
    font-size: 24px;
    text-align: center;
}
	
h3 {
    color: darkslategrey;
    font-family: "Aldrich";
    font-size: 18x;
    text-align: center;
    margin-top: -20px;
}
	
h4 {
    color: darkslategrey;
    font-family: "Aldrich";
    font-size: 12px;
    text-align: center;
}

#home, .about p{
    text-align: center;
    font-size: 16px;
    width: 60%;
}

p {
    color: darkslategrey;
    font-family: "Open Sans", serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 80%;
}
	
.mainNav {
    background: darkslategrey;
    overflow: auto;
    color: lightgray;
    font-family: "Aldrich";
    font-size: 18px;
    display: table;
    width: 100%;
}

#header #compname {
    text-align: center;
    float: left;
    display: table-cell;
    margin-top: 10px;
    padding-left: 20px;
}

.mainpic {
    margin-top: 50px;
}

.links {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 66%;
}

li {
    display: table-cell;
    float: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 20px;
}

.pic {
    height: 338px;
    width: 600px;                
    margin-top: 50px;
    align-content: right;
    padding-left: 15px;
}